<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- Form to accept Aadhar card number -->
<form action="/user-reports" method="post">
    <input type="text" name="aadhar" placeholder="Enter Aadhar Number" required />
    <button type="submit">Get Reports</button>
</form>

</body>
</html>